nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(67, 132, 192);
  width: 100%;
  justify-content: center;
  height: 100px;
  a {
    padding: 20px;
    text-decoration: none;
    color: rgb(152, 251, 229);
    &:hover {
      color: purple;
      border-bottom: 2px solid rgb(152, 251, 229);
      box-sizing: border-box;
    }
  }
}
